.yapa {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #00B6CD;
    font-family: 'Schwifty';
    text-shadow: 2px 2px 2px #B3E023, 0 0 25px black, 0 0 5px black;
    /* background-color: #B3E023; */
    padding: 100px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('../../rick-and-morty-vaporwave-art-ex.jpg');
}

@font-face {
    font-family: 'Schwifty';
    src: url(/get_schwifty.ttf);
}